In [133]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [134]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [135]:
n = df.shape[0]
for i in range(1,n):
    df.FlightNumber[i]=df.FlightNumber[i-1]+10    

df.FlightNumber=df.FlightNumber.astype(int)

In [136]:
From=[]
To=[]
for i in range(0,n):
    From.append(df.From_To[i].split('_')[0])
    To.append(df.From_To[i].split('_')[1])

df['From'] = From
df['To'] = To
df.drop('From_To',axis = 1,inplace = True)

In [137]:
df['From'] = df['From'].str.capitalize()
df['To'] = df['To'].str.capitalize()

In [138]:
Delays = df.RecentDelays.apply(pd.Series) 
Delays = Delays.rename(columns = lambda x : 'Delay_' + str(x))
df = pd.concat([df[:],Delays[:]],axis = 1)
df.drop('RecentDelays',axis =1,inplace = True)

In [139]:
df.head()

,FlightNumber,Airline,From,To,Delay_0,Delay_1,Delay_2
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN